@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Add styles for login page */
.login-container {
  @apply flex flex-col md:flex-row items-center justify-center min-h-screen bg-gray-100;
}

.login-image {
  @apply w-3/4 md:w-full;
}

.login-form {
  @apply md:w-1/2 bg-white p-8 rounded-lg shadow-lg;
}

.login-input {
  @apply w-full px-3 py-2 border rounded-lg;
}

.login-button {
  @apply w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700;
}

:root {
  --custom-color: #FAA307;
}

.text-custom-color {
  color: var(--custom-color);
}

.bg-custom-color {
  background-color: var(--custom-color);
}

@layer components {
  .text-welcome {
    @apply font-poppins font-medium text-2xl leading-[136%] tracking-normal text-black;
  }

  .text-bank {
    @apply font-poppins font-extrabold text-4xl leading-[136%] tracking-normal text-[#00266B];
  }
}
